*{
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}
section{
    height: 100vh;
    color: white;
}

.container{
    height: 100vh;
}
.child{
    scroll-snap-align: start;
}

.one{
    background: #EB5353;
}

.two{
    background: #F9D923;
}

.three{
    background: #36AE7C;
}

.four{
    background: #187498;
}